.filter {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.filterInput {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none ;
    text-indent: 5px;

}